<br>
<br>

<h1 align="center">Welcome, <%=@user.username.capitalize%>.</h1>
<br>
<hr>
<br>
<% if flash[:message] %>
    <h3>
    <small class="text-muted"><%=flash[:message]%></small></h3></p>
    <%end%>
  <%if @orders.empty?%>
  <h5 align="center">You have no orders</h5>
  <%else%>
  
<table style="width:90%"  align="center" class="table table-bordered">
  <thead>   
  <tr>
          <th scope="col">Number</th>
          <th scope="col"> Customer Name</th>
          <th scope="col">Item</th>
          <th scope="col">Amount</th>
          <th scope="col">Pick Up Date</th>
    </tr>
  </thead>
  <% @orders.each do |o|%>
       <tbody>
        <tr>
          <th scope="row"><%=o.id%>
            <h5><a href="/orders/<%=o.id%>/edit">edit</a></h5>
            <h5><a href="/orders/<%=o.id%>">show</a></h5>
          </th>
            <td><%=o.customer_name%></td>
            <td><%=o.item%></td>
            <td><%=o.amount%></td>
            <td><%=o.pick_up_date%></td>
        </tr>
        <%end%>
        <%end%>
      </tbody>
      </table>
      <br>
      <hr>
      <br>
      <div align="center">
        <button type="button" class="btn btn-dark"><h3><a href="/orders/new">New Order</a></button>
        <button type="button" class="btn btn-dark"><h3><a href="/logout">Logout</a></h3></button>
      </div>
